@media only screen and (max-width: 720px) {
   .logo_travel {
       margin: 0 34%!important;
   }

   .awal {
    font-size: 212% !important;
    font-weight: bold;
   }

   .menu-header {
      width: 100%;
      margin: 0!important;
      padding: 1% 7%;   
      display: inline-block;
   }

   .h-nav {
       color: white!important;
   }

   .dropdown {
    margin: 2% 32% !important;
   }

   .search-city {
    width: 41% !important;
    padding: 3% !important;
    margin: 1% 32% !important;
   }

   .submit-sc {
    margin: 4% 41% !important;     
   }

   .jumbotron1 {
       font-size: 57%!important;   
   }

   .kendaraan {
       padding: 1%!important;
       margin: 1%!important;
   }

}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.logo_travel {
    margin: 0 70px;
    width: 180px;
    height: auto;
}

.jumbotron {
    margin-top: 60px;
    background-image: linear-gradient(to bottom right, white -31%, black 50%, red 90%);
}

.menu-header {
    float: right;
    margin: 18px 80px;
}

.h-nav {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
}

.container {
    font-size: 20px;
    text-align: center;
    margin-top: -70px;
}

.awal {
    font-size: 90px;
    color: white;
}

.jumbotron1 {
    font-size: 30px;
    color: white;
}

.dropdown {
    background-color: white;
    padding: 10px 100px 10px 1px;
    width: 200px;
    margin: 1% 0;
    overflow: auto;
    border-radius: 5px;
    float: left;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.search-city {
    margin: 5px 0 0 10px;
    padding: 12px;
    width: 400px;
    color: black;
    float: left;
    border-radius: 5px;

}



.submit-sc {
    width: 117px;
    border-radius: 5px;
    padding: 13px;
    float: left;
    margin-left: 12px;
    margin-top: 6px;
    background-color: #ff2222;
    border: none;
}

.jumbotron2 {
    display: inline-block;
    margin-bottom: 30px;
}

.jumbotron3 {
    margin-top: -91px;
    widt
}

.kendaraan {
    display: inline-block;
    border: 1px solid white;
    margin-right: 20px;
    padding: 20px;
    color: white;
    width: 100px;
}

.kikuk {
    text-align: center;
    font-size: 80px;
    margin-top: 48px;
    margin-bottom: 18px;
}

.kikuk0 {
    color: red;
}

.kikuk1 {
    text-align: center;
    margin-bottom: 46px;
}

.image-galery {
    display: inline-block;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    margin: 1%;
    width: 30%;
}

.name-galery {
    margin-left: 17px;
    margin-top: 10px;
    margin-bottom: 20px;
}



.image {

    width: 100%;
    height: 200px;
}

.image-cities {
    display: inline-block;
}

.imagea {
    width: 46%;
    height: 370px;
    float: left;
    margin: 8px;
    background-size: cover;
}

.imagee {
    width: 300px;
    height: 175px;
    margin-top: 5px;
    float: right;
    margin: 10px;
}

.gambar1 {
    width: 480px;
    height: 300px;
    background-color: red;
    background-size: cover;
}

.perampingan {
    padding: 58px;
}

.footer {
    background-color: #100236;
    color: white;
    text-align: center;
    padding: 10px;
}

