@media only screen and (max-width: 720px) {

    .header-top {
        margin: -33% 2%!important;
    }

    .header-1 a {
        display: none;
    }

    .header-1 {
        width: 120px!important;
        margin: 1% 1%!important;
    }
  
    #menu-hide {
        display: inline!important;
    }

    .set-360 {
        margin: 10% 2%!important;
        width: 97%!important;
    }

    .set-360 iframe {
        width: 98%!important;
        height: 400px!important;
    }

    #menu {
        margin: -36% -22%!important;
    }

    #menu button {
        margin: -6% 70%!important;

    }

}


@keyframes menu_popup {
    from {top: -100px; opacity: 0;}
    to {top: 280px; opacity: 1;}
}

@keyframes menu_popup1 {
    0% {
        font-size: 15px;
        text-align: left;
    }


    100% {
        font-size: 50px;
        text-align: right;
    }
}



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header-top {
    margin: -19% 30%;
    width: 465px;
}

.header-1 {
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin: 8% 5%;
    height: 58px;
    border-radius: 20px;
    box-shadow: 0px 0px 27px -15px;
    position: sticky;
    top: 10px;
}

.header-1 img {
    width: 65px;
    margin: -2px 0 0 4px;
}

.header-1 ul {
    list-style-type: none;
    float: right;
    margin: 7px -19px;

}

.header-1 li {
    display: inline-block;
    margin: 12px 39px 0 -6px;
}

.header-1 a {
    text-decoration: none;
}

#menu {
    display: none;
    margin: -293px 0;
    width: 100%;
    height: 110%;
    background-size: 200px;
    animation-name: menu_popup;
    animation-duration: 1s;
    position: fixed;
}

#menu ul {
    background-color: rgb(255, 255, 255, 0.6);
    margin: 9% 32%;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    list-style-type: none;
    text-align: center;
    position: relative;
    overflow: auto;
    box-shadow: 0px 0px 18px -8px;
}

#menu-hide {
    display: none;
}


#menu a {
    text-decoration: none;
}

#menu button {
    border: none;
    margin: -6% 49%;
    background-color: rgb(255, 11, 11);
    float: left;
    border-radius: 7px;
    padding: 5px 15px;
}

.menu1 {
    float: left;
    margin: 12px -3px 0 10px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: rgb(190, 190, 255);
}   

.set-360 {
    margin: 0 90px;
    width: 90%;
}

.container {
    margin: 0 7%;
}

#section img {
    width: 100%;
    height: auto;
    border-radius: 12% 1%;
}

#section b {
    font-size: 500%;
    text-align: center;
}

#article1 {
    display: none;
    animation: menu_popup1 2s ease reverse;
}


#article2 img {
    width: 30%;
    height: auto;
    border-radius: 2%;
}


#article2 {
    display: none;
    animation: menu_popup1 2s ease reverse;
}

#article3 {
    display: none;
    animation: menu_popup1 2s ease reverse;
}

#article3 img {
    margin: 6% 1%;
}

#article4 {
    display: none;
    float: left;
    animation: menu_popup1 2s ease reverse;
}

#kikuk1 {
    width: 100%;
    height: 764px;
    overflow-y: scroll;
}

#kikuk2 {
    width: 100%;
    height: 9000px;
}
